//
// Colors
//

// Override Bootstrap color variables (MD colors)
//
$yellow-50:                             #fffde7 !default;
$yellow-100:                            #fff9c4 !default;
$yellow-200:                            #fff59d !default;
$yellow-300:                            #fff176 !default;
$yellow-400:                            #ffee58 !default;
$yellow-500:                            #ffeb3b !default;
$yellow-600:                            #fdd835 !default;
$yellow-700:                            #fbc02d !default;
$yellow-800:                            #f9a825 !default;
$yellow-900:                            #f57f17 !default;
$yellow-a100:                           #ffff8d !default;
$yellow-a200:                           #ff0 !default;
$yellow-a400:                           #ffea00 !default;
$yellow-a700:                           #ffd600 !default;
$yellow:                                $yellow-500 !default;

$amber-50:                              #fff8e1 !default;
$amber-100:                             #ffecb3 !default;
$amber-200:                             #ffe082 !default;
$amber-300:                             #ffd54f !default;
$amber-400:                             #ffca28 !default;
$amber-500:                             #ffc107 !default;
$amber-600:                             #ffb300 !default;
$amber-700:                             #ffa000 !default;
$amber-800:                             #ff8f00 !default;
$amber-900:                             #ff6f00 !default;
$amber-a100:                            #ffe57f !default;
$amber-a200:                            #ffd740 !default;
$amber-a400:                            #ffc400 !default;
$amber-a700:                            #ffab00 !default;
$amber:                                 $amber-500 !default;

// Override Bootstrap state colors variables
//
$primary:                               $amber-900;

// Override Bootstrap contrast ratio
//
$min-contrast-ratio:                    1.5;
